.simple-keyboard.hg-layout-default .hg-button.hg-red {
    background: rgb(255, 0, 0, 0.7);
    color: white;
  }
.simple-keyboard.hg-layout-default .hg-button.hg-blue {
    background: rgb(2,185,184);
    color: white;
    max-width: 90px;
    min-width: 90px;
  }

.simple-keyboard.hg-layout-shift .hg-button.hg-red {
    background: rgb(255, 0, 0, 0.7);
    color: white;
  }
.simple-keyboard.hg-layout-shift .hg-button.hg-blue {
    background: rgb(2,185,184);
    color: white;
    max-width: 90px;
    min-width: 90px;
  }