body {
  margin: 0;
  min-width: 600px;
  min-height: 375px;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(100%) brightness(40%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  color: #007acc;
}

@media (max-width: 600px) {
  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 961px) {
  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 25px;
    height: 25px;
  }
}



